<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscriptors</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <!--handle class just handles if the class is client or vendor only after vendor 
    or client is selected-->
    <div id="myApp" :class="handleClass">
      {{ $data }}
      <br>
      <!-- image is only displayed if client or
      vendor have been selected
      src value is handled vy handleImg method depending on client or vendor -->
      <img v-if="vue.vendor != null" :src="handleImg" width="100px" height="100px">
      <!--On submit it will prevent page refresh by .prevent attribute
      it will also call mostrarAlert by @submit attribute-->
      <form action="process" method="POST" @submit.prevent="validateForm">
        Nom: <input type="text" name="nom" v-model="valData.name"><br>
        Cognoms: <input type="text" name="cognoms" v-model="valData.surname"><br>
        Mail: <input type="text" name="mail" v-model="valData.mail"><br>
        Rol: <br>
        <!-- both radio buttons will call their respective class toggling mehtod
        applied to the ps after form-->
        Client: <input type="radio"name="role" value="client" v-model="vue.vendor" :value="false"><br>
        Venedor: <input type="radio"name="role" value="venedor" v-model="vue.vendor" :value="true"><br>  
        Interessos: <br>
        <div v-if="vue.vendor== false">
        Client: <input type="checkbox" name="interessos" value="client" checked><br>
      </div>
      <div v-if="vue.vendor">
        Venedor: <input type="checkbox" name="interessos" value="venedor" checked><br>
      </div>
      <!-- inline styles if there is text and no error (green)-->
      <div :style="stylesHandle">
      <!-- handleText adds or removes the error class according to error-->
      <span :class="{'error': handleText}">Fill in this field: </span><br>
      <!-- error class + green inline style if there is no error-->
      <textarea :class="{'error': handleText}":style="stylesHandle"  name="textarea" rows="10" cols="50" v-model="vue.textarea">Write something here!</textarea><br>
      <!-- shows error and error text message through handleText function-->
      <span v-if="handleText != ''" class="error">{{handleText}}</span>
      </div>
      <input type="submit" value="enviar" :class="(handleText? 'error':'')">
      </form>
      <!--the class will show if client attribute is true-->
      <div v-if="vue.vendor == false">
        <p id="client" >
          Aquest son els interessos del client.
        </p>
      </div>
      <!-- the class will show if vendor attribute is true-->
      <div v-if="vue.vendor">
        <p id="venedor">
          Aquest son els interessos del venedor.
        </p>
      </div>
  </div>
  </body>
</html>
