<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscriptors</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="myApp">
      {{ $data }}
      <!--On submit it will prevent page refresh by .prevent attribute
      it will also call mostrarAlert by @submit attribute-->
      <form action="process" method="POST" @submit.prevent="validateForm">
        Nom: <input type="text" name="nom" v-model="valData.name"><br>
        Cognoms: <input type="text" name="cognoms" v-model="valData.surname"><br>
        Mail: <input type="text" name="mail" v-model="valData.mail"><br>
        Rol: <br>
        <!-- both radio buttons will call their respective class toggling mehtod
        applied to the ps after form-->
        Client: <input type="radio"name="role" value="client" v-model="vue.vendor" :value="false"><br>
        Venedor: <input type="radio"name="role" value="venedor" v-model="vue.vendor" :value="true"><br>  
        Interessos: <br>
        <div v-if="vue.vendor== false">
        Client: <input type="checkbox" name="interessos" value="client" checked><br>
      </div>
      <div v-if="vue.vendor">
        Venedor: <input type="checkbox" name="interessos" value="venedor" checked><br>
      </div>
        <input type="submit" value="enviar">
      </form>
      <!--the class will show if client attribute is true-->
      <div v-if="vue.vendor == false">
        <p id="client" >
          Aquest son els interessos del client.
        </p>
      </div>
      <!-- the class will show if vendor attribute is true-->
      <div v-if="vue.vendor">
        <p id="venedor">
          Aquest son els interessos del venedor.
        </p>
      </div>
  </div>
  </body>
</html>
<!--
  1. Afegirem al HTML un formulari amb 3 input text amb les seguents dades: nom, cognoms, mail. 

2. Afegirem al formulari un radiobutton pel tipus d'usuari: amb dos valors: client, venedor.

3. Afegirem al formulari dos checkboxs. Un amb interessos del client, i un altre amb 
interessos del venedor. 

4. Afegirem un event amb vue, al clickar al radio button, si està seleccionat client 
escriurem els interessos client, si està seleccionat venedor, mostrem interessos venedor. 
( aquesta informació sortirà a la part inferior del HTML, podeu fer servir una capa ). 

5. Crearem un botó enviar: Aquest botó cridarà una funció que enviarà el formulari 
( submit). Però de moment evitem enviar el formulari i en el seu defecte mostrem un missatge. 
-->